body {
    margin: 0;
    padding: 0;
    /* background-image: url("backgroundimage.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;

    justify-content: center;
}

.card {
    /* width: 500px; */
    height: max-content;
    background-color: aliceblue;
    background: repeating-linear-gradient(45deg, white, #efececb8 50px), repeating-linear-gradient(-45deg, #eae5e5, #b9b9b9 50px);
    background-size: 100% 100%;
}

.padding-cont {
    padding: 20px;
}

.logo-container {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 10px 0px #231f1fa3;
    border-radius: 40px;
}

.name-container, .title {
    z-index: 2;
    text-align: center;
    font-weight: 400;
    background: linear-gradient(45deg, #3F51B5, #9C27B0);
    color: white;
    padding: 3px 5px 14px;
}

.icon-b{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: linear-gradient(45deg, #3F51B5, #9C27B0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;padding-bottom: 5px;
}

svg{
    color: white;
}

.contact-container{
    margin-top: 1rem;
}

.contact-container,
.social-container, .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.social-container{
    flex-direction: column;
    margin-top: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input {
    width: 100%;
}

.title{
    text-align: center;
}

.about{
    text-align: justify;
}

.product-list{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}
.c-item{
    height: 300px;
}

.service-list{
    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }